header {
  padding: 3%;
}

.calculator {
  max-width: 400px;
  margin: 0 auto;
  background-color: #2E4F4F;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 #aaa;
}
  
.calculator-screen {
  width: 85%;
  height: 60px;
  font-size: 2rem;
  text-align: right;
  border: none;
  background-color: #2C3333;
  color: rgb(223, 226, 243);
  padding: 0 20px;
  border-radius: 5px;
  margin-bottom: 25px;
}
  
.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
  
.calculator-keys button {
  width: 100%;
  height: 60px;
  font-size: 2rem;
  border: none;
  background-color: #f2f2f2;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}
  
.calculator-keys button:hover {
  opacity: 80%;
  transition: 1s;
  box-shadow: 0 0 5px 5px #303030de;
  background-color:lightgreen ;
}
/*Buttons*/
.calculator-keys button:active {
  background-color: limegreen;
}
  
.operator {
  background-color: #f5901e;
  color: black;
}
  
.all-clear {
  background-color: #ac3939;
  color: black;
}
  
.equal-sign {
  background-color: #4cae4c;
  color: black;
}
  
.decimal {
  background-color: brown;
  color: black;
}
  
/*Animated background*/
body {
  overflow-y: hidden;
  height: 100vh;
  background: #0c192c;
}
.container {
  position: relative;
  height: 100%;
  width: 100%;
}
.bubbles {
  z-index: -100;
  position: relative;
  display: flex;
}
.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(120s / var(--i));
}
.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}
@keyframes animate{
  0% 
  {
    transform: translateY(100vh) scale(0);
  }
  100% 
  {
    transform: translateY(-80vh) scale(1);
  }
}
/*Responsive Bubbles*/
@media screen and (max-width: 1024px) {
  .bubbles span {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 768px) {
  .bubbles span {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 425px) {
  .bubbles span {
    width: 15px;
    height: 15px;
  }
}